@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
}

.button-sign-up:hover {background-color: #2de7f5}
.button-sign-up:active {
    background-color: #2de7f5;
    transform: translateY(4px);
}

.sign-in-container > button:hover {color: #bdb6b6}

.homepage-container{
    height: 100vh;
    background-image: url("../../images/BabyPhoto.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-header{
    padding: 0;
    margin: 0;
}

.homepage-header > img{
    margin: 25% 0 0 0;
    width: 15rem;
    height: 4rem;
}

.homepage-content{
    font-family: 'DM Sans', sans-serif;
    margin: 2.5rem 0 0 0;
    color: #FFFFFF;
}

.homepage-content > h2{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.homepage-content > p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.homepage-content .button-sign-up{
    text-align: center;
    font-size: 1rem;
    background-color: #FFFFFF;
    color: #735EBB;
    width: 30%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    margin-top: 2rem;
    font-weight: 700;
    margin:2rem 35% 0 35%;
    
}

.sign-in-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign-in-container > p{
    margin: 5rem 0 0 0;

    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.button-sign-in{
    margin: 5rem 0 0 0;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    
    color: white;
    font-weight: 700;
    font-size: 1rem;
}



